name: ci
on:
  push:
    branches:
      - master
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.10
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install \
              blacken-docs>=1.13 \
              docutils>=0.20.1 \
              markdown-callouts>=0.2 \
              markdown-exec[ansi]>=0.5 \
              mkdocs>=1.5 \
              mkdocs-autorefs>=0.5.0 \
              mkdocs-coverage>=0.2 \
              mkdocs-gen-files>=0.3 \
              mkdocs-literate-nav>=0.4 \
              mkdocs-material>=7.3 \
              mkdocs-material-extensions \
              mkdocs-minify-plugin>=0.6.4 \
              mkdocs-redirects>=1.2.0 \
              mkdocstrings[python] \
              pypandoc>=1.12

      - run: mkdocs gh-deploy --force
